.item{
  width: 300px;
  height: 130px;
  background: rgb(119, 6, 113);
  border-radius: 20px;
  margin: 0 auto 20px auto;
  text-align: center;
  line-height: 130px;
  color: rgb(255, 218, 9);
}